<div class="slider">
  <div class="slide" *ngFor="let movie of movies">
    <div class="slide-bg">
      <img
        [src]="'https://image.tmdb.org/t/p/original/' + movie.backdrop_path"
        alt="{{ movie.original_title }}"
      />
    </div>
    <div class="slide-info">
      <h2 class="name">{{ movie.title }}</h2>
      <div class="meta">
        <div class="info">
          <span class="rating">
            <span class="icon">star</span>
            <span class="rating-value">{{ movie.vote_average }}</span>
            <span>/10</span>
          </span>
          <span class="review-count">{{ movie.vote_count }} Reviews</span
          ><span class="year-released">{{
            movie.release_date | date: "yyyy"
          }}</span>
        </div>
        <div class="description mt-6">
          {{ movie.overview }}
        </div>
      </div>
    </div>
  </div>
</div>
