@import "../../../../styles/_colors";

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35rem;
  background-color: #000;
  position: relative;

  .slide {
    position: relative;
    display: flex;
    height: 35rem;

    .slide-bg {
      position: relative;
      display: flex;
      flex: 1 1 auto;
      &:after {
        background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 1) 30%,
          rgba(255, 255, 255, 0) 100%
        );
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: "";
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .slide-info {
      position: absolute;
      width: 50%;
      top: 5rem;
      left: 5rem;

      h2.name {
        font-size: 2.8rem;
      }
      .meta {
        font-size: 1.4rem;
        color: $lightGrey;
        .info {
          > span {
            &:not(:last-child):after {
              content: "|";
              margin-right: 9px;
              margin-left: 9px;
            }
          }
          .rating {
            display: flex;
            align-items: center;

            .icon {
              color: #d4af37;
              margin-right: 9px;
            }
          }
        }
        .description {
          font-size: 1.2rem;
          line-height: 1.6;
          color: #fff;
        }
      }
    }
  }
}
