<comp-slider [movies]="popularMovies"></comp-slider>
<comp-items-banner
  [items]="upcomingMovies"
  title="Upcoming Movies"
></comp-items-banner>
<comp-items-banner
  [items]="topRatedMovies"
  title="Top Rated Movies"
></comp-items-banner>
<!-- tv shows -->
<comp-items-banner
  [items]="popularTvShows"
  title="Popular TV Shows"
></comp-items-banner>
<comp-items-banner
  [items]="latestTvShows"
  title="Latest TV Shows"
></comp-items-banner>
<comp-items-banner
  [items]="topRatedTvShows"
  title="Top Rated TV Shows"
></comp-items-banner>
