<ng-container *ngIf="singleMovie">
  <comp-slider [movies]="[singleMovie]" [isBanner]="true"></comp-slider>
  <p-tabView>
    <p-tabPanel header="Overview">
      <div class="grid">
        <div class="col-12 md:col-3 lg:col-3">
          <img
            class="poster"
            [src]="
              'https://image.tmdb.org/t/p/original/' +
              singleMovie?.backdrop_path
            "
            alt="{{ singleMovie?.original_title }}"
          />
        </div>
        <div class="col-12 md:col-9 lg:col-9">
          <h2>Overview</h2>
          <p class="overview">{{ singleMovie.overview }}</p>
          <div class="stats">
            <div class="label">Tagline:</div>
            <div class="value">
              {{ singleMovie.tagline }}
            </div>
          </div>
          <div class="stats">
            <div class="label">Release Date:</div>
            <div class="value">
              {{ singleMovie.release_date | date: "dd.MM.yyyy" }}
            </div>
          </div>
          <div class="stats">
            <div class="label">Language:</div>
            <div class="value">
              {{ singleMovie.original_language.toLocaleUpperCase() }}
            </div>
          </div>

          <div class="stats">
            <div class="label">Revenue:</div>
            <div class="value">
              {{ singleMovie.revenue | currency: "USD" }}
            </div>
          </div>
          <div class="stats">
            <div class="label">Duration:</div>
            <div class="value">{{ singleMovie.runtime }} min</div>
          </div>

          <div class="stats">
            <div class="label">Genres:</div>
            <div class="value">
              <span *ngFor="let gen of singleMovie.genres">
                {{ gen.name }}
              </span>
            </div>
          </div>

          <div class="stats">
            <div class="label">Status:</div>
            <div class="value">
              {{ singleMovie.status }}
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Videos">
      <div class="grid">
        <ng-container *ngFor="let movie of movieVideos">
          <div class="col-12 md:col-4 lg:col-4">
            <comp-iframe
              [site]="movie.site"
              [key]="movie.key"
              [title]="movie.name"
            ></comp-iframe>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Photos">
      <div class="grid">
        <ng-container *ngFor="let movie of movieImages?.backdrops">
          <div class="col-12 md:col-4 lg:col-4">
            <p-image
              [src]="'https://image.tmdb.org/t/p/w500' + movie.file_path"
              alt="Image"
              width="100%"
              [preview]="true"
            ></p-image>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>
  </p-tabView>
</ng-container>
