@import "../../../../styles/_colors";

:host ::ng-deep {
  .p-tabview-nav {
    justify-content: center;

    li .p-tabview-nav-link {
      background: $bgColor;
    }

    li.p-highlight .p-tabview-nav-link {
      background: $bgColor;
    }
  }
}

h2 {
  margin-top: 0;
}

.poster {
  max-width: 100%;
  height: 100%;
}

.overview {
  line-height: 1.5;
}

.stats {
  display: flex;

  .label {
    width: 120px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .value {
    color: $primeYellow;
  }
}

.credit {
  padding: 10px;
  img {
    width: 100%;
    height: 100%;
  }

  span {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
}

.similar {
  margin-top: 15px;
  padding: 10px;
}
